@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*:before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: 233px;
  height: fit-content;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.img-container {
  border-radius: 10px;
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.text-container {
  padding: 10px;
}

.text-primary {
  font-weight: 700;
  color: var(--dark-blue);
  margin: 5px 0;
}

.text-secondary {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  color: var(--grayish-blue);
}
